<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chordIDE</title>
    <link rel="stylesheet" href="./static/style.css">
    <script src="static/scripts/UI.js" defer></script>
    <script src="static/scripts/handle_dragbar.js" defer></script>
    <script src="static/scripts/Canvas.js" defer></script>
    <script src="static/scripts/handle_canvas_resize.js" defer></script>
    <script src="static/scripts/init_canvas.js" defer></script>
    <script src="static/scripts/main.js" defer></script>
</head>

<body>
    <div class="root">
        <div class="main-content-container">
            <div class="left-content-container">
                <canvas id="note-display-canvas"></canvas>
            </div>
            <div id="vertical-dragbar" class="vertical-dragbar"></div>
            <div class="right-content-container">
                <canvas id="chord-code-canvas"></canvas>
            </div>
        </div>
        <div class="piano">
            <canvas id="piano-canvas"></canvas>
        </div>
    </div>
</body>

</html>