* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    -webkit-font-smoothing: antialiased;
    background-color: var(--main-dark);
    width: 100vw;
    height: 100vh;
}

:root {
    --main-dark: #222831;
    --main-gray: #393E46;
    --main-beige-dark: #948979;
    --main-beige: #DFD0B8;
}

.root {
    display: flex;
    flex-direction: column;
    width: inherit;
    height: inherit;
    align-items: stretch;
    justify-content: stretch;
}

.main-content-container {
    display: flex;
    flex-direction: row;
    width: inherit;
    height: inherit;
    align-items: stretch;
    justify-content: stretch;
    overflow: auto;
    flex: 1 1 80%;
}

.piano {
    flex: 1 1 20%;
}

.main-content-container > * {
    flex: 1 1 100%;
}

.left-content-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    /* overflow: hidden; */
}

.left-content-container > * {
    flex: 1 1 100%;
    /* overflow: scroll; */
}

.right-content-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.vertical-dragbar {
    background-color: var(--main-beige-dark);
    max-width: 0.2em;
    min-width: 0.2em;
}